{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
                <h2>快速创建复盘记录</h2>
                {% for field in form %}
                    <div class="form-row">
                        {{ field.errors }}
                        <div>
                            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="创建复盘" class="default" />
                <a href="{% url 'admin:review_reviewrecord_changelist' %}" class="button cancel-link">取消</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
